*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket-wrapper {
  padding: 50px 0;
  h1 {
    font-size: 40px;
    margin-bottom: 50px;
    border-bottom: 1px solid #da9f5b;
    padding-bottom: 10px;
  }
  .basket-cards {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 20px;
    .basket-card {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card-head {
        display: flex;
        align-items: center;
        gap: 30px;
        .card-img {
          width: 200px;
          height: 150px;

          img {
            height: 100%;
            width: 100%;
          }
        }
        .card-desc {
          /* width: 100%; */
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
      .basketPrice {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
      }
      .quantityBtns {
        border: none;
        display: flex;
        align-items: center;
     
        button {
          border: none;
          /* background-color: rgb(230, 210, 183); */
          padding: 8px 15px;
          cursor: pointer;
        }
        span {
          background-color: #da9f5b;
          padding: 8px 15px;
        }
      }
      .delBtn {
        border: none;
        background-color: transparent;
        color: red;
        position: absolute;
        top: 65px;
        right: -50px;
        font-size: 18px;
        /* opacity: 0.5; */
        cursor: pointer;
      }
    }
  }
}
