*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #333;
  color: white;
}
.logo{
  font-weight: bold;
  font-size: 40px;
}

.nav-links {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
 
  gap: 5px;
}

.nav-icon {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.nav-icon:hover {

  color: #ffdd57;
}



.user-info {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.products-section {
  padding: 20px;
}

.products-section h2{
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
}
.products-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.favorite-btn, .cart-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.favorite-btn {
  background-color: pink;
}

.cart-btn {
  background-color: lightblue;
}

/* Footer */
.footer {

  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
